body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 12px;
    background: url(Space_Design.jpg);
    background-size: 1200px;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
header{
    position:absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: #262626;
    width: 100%;
    box-sizing: border-box;
}
header .logo{
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-weight: 24px;
    float: left;
    font-weight: bold;

}
code{
    color: #ffffffcc;
    font-family: 'Courier New', Courier, monospace;
}


header nav{
    float: right;
}
header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li{
    list-style: none;
}
header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;

}
header nav ul li a:hover,
header nav ul  li a.active
{
    color:#fff;
    background: #2196f3;
}
.menu-toggle{
    color:#fff;
    float:right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
    
}

.square{
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 400px;
    height: 400px;
    background-color:#ADDEEB(51, 51, 51, 0.514);
    border-radius: 10%;   
}
.content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 350px;
    height: 350px;
    padding: 40px 60 px;
    color: #fff;
    text-align: center;
    transition: 0.5s;
    z-index: 1000; 
}

.icon-bg{
    background-color: rgba(255, 255, 255, 0.061);
    border-radius: 5px;
}

.img{
    border-radius: 30%;
    width: 50%;
}
  
.title {
    color: #fff;
    font-size: 18px;
  }

.main{
   max-width: 1000px;
   margin: auto;
   padding-top: 5%;
}

#bord{
    border-radius: 20px;
   
}
  

  
a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(255, 242, 242);
}
#icon{
    width: 18%;
  }
  
a:hover, a:hover {
    opacity: 0.5;
}



@media(max-width: 991px){
    header{
        padding: 0 20px;
    }
    .menu-toggle{
        display: block;
    }
    header nav{
        position: absolute;
        width: 50%;
        height: calc(100vh -50px );
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;

    }
    header nav.active{
        left: 0;
    }
    
    header nav ul{
        display: block;
        text-align: center;

    }
    header nav ul li  a{
        border-bottom: 1px solid rgba(0,0,0,.2);
    }
    .square{
        position: fixed;
        z-index: -1;
        width: 400px;
        height: 400px;   
    }
    
}



.square span:nth-child(1)
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border:  2px solid rgba(255, 255, 255, 0.623);
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 6s linear infinite;
  
}
.square:hover span:nth-child(1)
{
    border: none;
    background: #2195f338;
}
.square span:nth-child(2)
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border:  2px solid rgba(255, 255, 255, 0.657);
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 1os linear infinite;

}
.square:hover span:nth-child(2)
{
    border: none;
    background: #2195f357;
}
.square span:nth-child(3)
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border:  2px solid rgba(255, 255, 255, 0.561);
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 10s;
    animation: animate 4s linear infinite;

}
.square:hover span:nth-child(3)
{
    border: none;
    background: #2195f35e;
    
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    
    }
    100%
    {
        transform: rotate(360deg);
    }
}
@keyframes animate2
{
    0%
    {
        transform: rotate(360deg);
    
    }
    100%
    {
        transform: rotate(0deg);
    }
}
